#highscores
{
    margin-left: 0px;
    padding-top: 5px;
    padding-left: 5px;
    float:left;
    font-size:medium;
    color: rgb(208, 127, 208);
}

#time,#time-left,#time-left span
{
    margin-right: 0px;
    padding-top: 2px;
    padding-left:5px;
    padding-right: 20px;
    float:right;
    font-size:medium;
    font-weight: 700;
}


.quiz-header
{
    font-weight: bolder;
    font-size:xx-large;
    text-align: center;
    padding-top: 60px;
}


.quiz-rules
{
    font-size:large;
    text-align:center;
    padding-top:30px;
    -ms-flex-align: center;
}


.start-quiz
{
    display: flex;
    flex-direction: column;
}
    
.quiz-start-button
{
    margin-top: 20px;
    text-align: center;
    font-size: larger;
}

/* .quiz-button
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50px;
   
    
} */

.btnSubmit
{ 
    background-color: blueviolet;
    color:whitesmoke;
    width: 100px;
    
}

.btnSubmit:hover
{
    opacity: 70%;
}

/* .multiple-choice
{
    content-visibility: hidden;
} */

.flex-multi-choice
{
    display:flex;
    flex-direction: column;
    
    padding-top: 60px;
 
    align-items: flex-start;
    padding-left: 10%;
    padding-right:10%;
    content-visibility: hidden;
}


.flex-multi-choice .question
 {
    font-weight: bolder;
    font-size:xx-large;
    line-height: normal;
 }


 .flex-multi-choice .choice 
 {
    
    margin-top: 20px;
 }

 
 .flex-multi-choice .choice:hover
 {
    opacity: 70%;
    cursor: pointer;
 }

 
 
 .flex-multi-choice .choice span
 {
    font-size: larger;
    color:whitesmoke;
    background-color: purple;
    margin-top: 10px;
    padding:5px;
 }



 hr {
    display: block;
    width:825px;
    height: 3px;
    border: 0;
    border-top: 1px solid gray;
    margin: 2em 0;
    padding-left: 27%;
    padding-right: 27%;
    content-visibility: hidden;
    
}

.input-initials
{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    content-visibility: hidden;
    padding-left: 27%;
    padding-right: 27%;
    padding-top: 60px;
    row-gap: 20px;
}


h1{
    font-size: x-large;
    font-weight: bolder;
}

.input-initials .resultHeading
{
    
    font-size: medium;
    font-weight: bold;
}

.input-initials #btnInitialsSubmit
{
    width: 70px;
    background: blueviolet;
    color: whitesmoke;
}

.input-initials #typeInitialsSubmit :focus
{border-color: blue;}

.input-initials #btnInitialsSubmit :focus
{ border-color: blue;}

.viewHighScores
{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    content-visibility: hidden;
    padding-left: 37%;
    padding-right: 27%;
    padding-top: 60px;
    row-gap: 20px;
}

.viewHighScores #highScoreHeading
{
    font-weight: bolder;
    font-size: x-large;
}

.viewHighScores #btnGoBack
{
    background: blueviolet;
    color: whitesmoke;
    width: 70px;
}
.viewHighScores #btnClearHighScores
{
    background: blueviolet;
    color: whitesmoke;
    width: 150px;
}

.allScores li
{
    background-color:rgb(163, 155, 210) ;
margin: 1px;    
font-weight: 500;
padding: 2px;
}
